<div class="span-17">
  <p>You can find more recent code on my profile at <a href="http://github.com/kredei">Github</a>.</p>
  <div class="span-5"><p><img src="hullgraph.png" class="span-5" alt="Hull Graph" /></p></div>
  <div class="span-11">
    <p><h3>Computational Geometry - May 2008</h3></p>
    <p>A <a href="hullgraph.tar.gz">C++ program</a> using the Leda library to compute the hull graph of a point set.</p>
  </div>

</div>

<div class="span-19">
  <div class="span-5"><p><img src="nucleosome.png" class="span-5" alt="Nucleosome" /></p></div>
  <div class="span-13">
    <p><h3>Computational Biology - December 2007</h3></p>
    <p> A <a href="Redei-Nucleosome.pdf">review paper</a> on the prediction of nucleosome positions from DNA sequence.</p>
  </div>
</div>

<div class="span-19">
  <div class="span-5"><p><img src="futron.png" class="span-5" alt="Futron" /></p></div>
  <div class="span-13">
    <p><h3>Computer Graphics - June 2007</h3></p>
    <p> <a href="http://www.dailymotion.com/video/xn8tyv_futron-3rd_videogames">Demo video</a> for Futron 3D, a multiplayer, Tron-like game developed as a team with Owen Simpson.</p>
  </div>
</div>

