<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="style.css" />
    <link type="text/css" rel="stylesheet" href="grid.css" />
    <title>
      Kristof
    </title>
  </head>
  
  <body>
    <div class="container">
      <div class="span-17 colborder">
        <h1>Kristof Redei</h1>
        <h2>Ruby on Rails Web Developer</h2>
        <div class="span-5">
        <h3><a href="http://goodreads.com/kredei">books I read</a></h3>
          <div class="span-5"><h3><a href="sports">sports I play</a></h3></div>
        </div>
        <div class="span-5">
        <h3><a href="http://last.fm/user/kredei">music I listen to</a></h3>
          <div class="span-5"><h3><a href="asdf">resume</a></h3></div>
        </div>
        <div class="span-5">
        <h3><a href="cv">projects I've done</a></h3>
          <div class="span-5"><h3><a href="asdf">writing</a></h3></div>
        </div>
      </div>
      <div class="span-5">
        <p><img src="kristof.png" /></p>
      </div>
      <hr/>
      <div class="span-17 colborder">
        <p>I work as a software engineer for Avenue 100 Media Solutions in Woburn, MA. During the first two years of graduate school I worked part-time with the team at Academic Technology. Before coming to Tufts, I received a B.A. in computer science and philosophy from Williams College. On this page, you'll find examples of some of the work I've done while in school, an up-to-date CV, and information on other activities I'm pursuing at the moment. I can be reached via email at {my first name} at {my first name} dot me.</p>
      </div>
      <div class="span-5">
        <h4>Contact</h4>
        <p><a href="email"><em>Email</em><a></p>
        <p><a href="http://github.com/kredei"><em>Github</em></a></p>
      </div>
    </div>
  </body>

</html>
