body {
  font-size: 100%;
  background-color: white;
}

h1 {
  font-family: Garamond, Georgia, serif;
  font-size: 2em;
}

h2 {
  font-family: Garamond, Georgia, serif;
  font-size: 1.5em;
}

h3 {
  font-family: Garamond, Georgia, serif;
  font-size: 1.25em;
}

h4 {
  font-family: Garamond, Georgia, serif;
  font-size: 1em;
}

p {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
}

img {
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px 0 black;
}

A { 
  color:#660000; 
  text-decoration:none; 
  font-weight:600; 
}

A:hover {
  color: red;
}

.bar {
  background: -moz-linear-gradient(top, #fff, #000) no-repeat; 
  height: 10px;
  clear: both;
}
